<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en-AU"  >
  <head>
    <meta charset="utf-8" />
    <title>Cambridge Basketball Club</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <header>
    <h1><a href="{{site.url}}">{{ site.title }}</a></h1>
      <nav>
        <ul>
          {% for page in site.html_pages %}
            {% if page.url == '/' %}
              {% continue %}
            {% endif %}
            <li><a href="{{ page.url }}>">{{ page.title }}</a></li>
          {% endfor %}
        </ul> 
      </nav>
    </header>
    <section>
        {{ content }}
    </section>
    <footer>

    </footer>
  </body>
</html>
